#CPM-wrap {
    * {
        margin: 0;
        padding: 0;
        outline: 0;
    }

    h2 {
        padding: 9px 0 4px;
    }

    h3 {
        padding-bottom: 10px;
        font-weight: normal;
        color: #333;
        font-size: 14px;
        line-height: 20px;
        margin-right: 10px;
    }

    textarea {
        padding: 3px;
        display: block;
        width: 342px;
        min-height: 160px;
        margin: 10px 0;
    }

    select {
        padding: 2px;
        width: 342px;
        display: block;
        margin: 10px 0;
    }

    .button-primary {
        padding: 0 10px;
    }

    .regular-text {
        padding: 3px;
        display: block;
        margin: 10px 0;
        width: 342px;
    }

    div.updated {
        margin: 5px 0 15px;
        padding: 1px 12px;

        p {
            margin: 0.5em 0;
            padding: 2px;
        }
    }

    .cpm {
        &-activate {
            display: flex;
        }

        &-section {
            padding: 10px 0;
        }

        &-controls {
            width: 40px;
            height: 20px;
            position: relative;
            background: #a0a5aa;
            border-radius: 12px;
            transition: background 0.1s;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
                background: #fff;
                border-radius: 50%;
                transition: left 0.1s;
            }

            &.cpm-on {
                background: #0085ba;

                &:before {
                    left: 22px;
                }
            }
        }

        &-hidden {
            display: none;
        }
    }
}